button#backBtn{
    background-color: hsl(231, 100%, 99%);
    color: hsl(231, 11%, 63%);
    width: 150px;
    padding: .9rem;
    border-radius: 10px;
    border: 1px solid hsl(231, 100%, 99%);
    font-weight: bold;
    align-self:flex-end;
    font-size: 14px;
}

button#backBtn:hover{
    cursor: pointer;
    color: hsl(213, 96%, 18%);
}

/** Desktop **/
@media only screen and (min-width: 2000px){
    button#backBtn{
        font-size: 17px;
    }
}

@media only screen and (min-width: 1700px) and (max-width: 2000px){
    button#backBtn{
        font-size: 15px;
    }
}

@media only screen and (min-width: 765px) and (max-width: 1274px){
    button#backBtn{
        font-size: 13px;
    }
}


/** Mobile **/

@media only screen and (max-width: 765px) {
    button#backBtn{
        width: 130px;
        font-size: 13px;
        border-radius: 5px;
        text-align: left;
    }
}