.divStep{
    display: flex;
    gap: 1rem;
}

span.number{
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    padding: .5rem .7rem;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
}

.divStep-sec{
    display: flex;
    flex-direction: column;
    gap: .2rem;
    text-transform: uppercase;
}

.divStep-sec h3{
    color: hsl(229, 24%, 87%);
    font-weight: normal;
}

.divStep-sec span{
    color: hsl(0, 0%, 100%);
    font-weight: bold;
}

span.bgAzul{
    background-color: hsl(206, 94%, 87%);
    color: hsl(213, 96%, 18%);
}

/** Desktop **/
@media only screen and (min-width: 765px) and (max-width: 1274px){
    .divStep{
        gap: 0.6rem;
    }
}


/** Mobile **/

@media only screen and (max-width: 765px) {

    .divStep-sec h3{
        display: none;
    }
    
    .divStep-sec span{
        display: none;
    }
}