.form3Checks{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 4.2rem;
}

/** Desktop **/
@media only screen and (min-width: 1800px) and (max-width: 1920px){
    .form3Checks{
        gap: 1.5rem;
    }
}


/** Mobile **/

@media only screen and (min-width: 375px) and (max-width: 765px) {

    .form3Checks{
        gap: 0.8rem;
        margin-bottom: 0;
    }
}