aside.steps{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 2rem;
    border-radius: 10px;

    background-image: url('../assets/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: center;
}

/** Desktop **/
@media only screen and (min-width: 765px) and (max-width: 1274px){
    aside.steps{
        padding: 3rem 1rem;
    }
}

/** Mobile **/

@media only screen and (max-width: 765px) {
    aside.steps{
        width: 100%;
        flex-direction: row;
        justify-content: center;
        background-image: url('../assets/images/bg-sidebar-mobile.svg');
        background-size:cover;
        gap: 0rem;
        border-radius: 0;
        padding: 2rem 0 7rem 0;
    }
}