#form4{
    position: relative;
    height: 90%;
}

.form4Div{
    background-color: hsl(217, 100%, 97%);
    border-radius: 10px;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.form4Div span, .spanTotal{
    color: hsl(231, 11%, 63%);
}

.form4Div-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form4Div-sec div{
    display: flex;
    flex-direction: column;
}

/** Desktop **/
@media only screen and (min-width: 1900px){
    #form4{
        height: 75%;
    }
}


@media only screen and (min-width: 1700px){
    .form4Div{
        padding: 1.4rem;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }
}
@media only screen and (min-width: 1600px) and (max-width: 1900px){
    #form4{
        height: 80%;
    }
}

/** Mobile **/

@media only screen and (max-width: 765px) {

    #form4{
        position:initial;
    }
    
    .marginDiv-1, .marginDiv-2, .marginDiv-3, .marginDiv-4{
        margin-bottom: 0;
    }
}