.thankYou{
    align-items: center;
    justify-content: center;
}

.thankYou img{
    width: 70px;
}

.thankYou h2{
    color: hsl(213, 96%, 18%);
}

.thankYou p{
    color: hsl(231, 11%, 63%);
    text-align: center;
}

/** Mobile **/

@media only screen and (max-width: 765px) {

    div.thankYou{
        padding: 9rem 5%;
        gap: 1.2rem;
    }

    .thankYou img{
        width: 50px;
    }

}