.App{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p, span, h3{
    font-size: 0.82rem;
}


.stepDiv{
    padding: 2.4rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
}

.divButtons{
    display: flex;
    justify-content:space-between;
    margin-top: 50px;
}

div.checked, label.checked{
    border: 1px solid hsl(243, 100%, 62%);
    background-color: hsl(217, 100%, 97%);
}
 
/** Desktop **/
@media only screen and (min-width: 1700px) and (max-width: 1920px){
    .stepDiv{
        padding: 2.4rem 5rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
}

@media only screen and (min-width: 1004px) and (max-width: 1274px){
    p, span, h3{
        font-size: 0.62rem;
    }

    .stepDiv{
        gap: 1rem;
    }
}

@media only screen and (min-width: 765px) and (max-width: 1004px){
    .stepDiv{
        gap: 0.5rem;
    }
}


/** Mobile **/

@media only screen and (min-width: 375px) and (max-width: 765px) {
    .App{
        height: 100%;
        width: 100%;
    }
    
    .stepDiv{
        background-color: hsl(231, 100%, 99%);
        border-radius: 10px;
        width: 90%;
        margin-left: 5%;
        position: absolute;
        top: 100px;
        padding: 2.4rem 1.8rem;
        height: 80%;
    }


    .divButtons{
        width: 100vw;
        background-color: hsl(231, 100%, 99%);
        padding: 1rem;
        position: absolute;
        bottom: -200px;
        left: -5.5%;
    }
}

